In [1]:
import pandas as pd
import numpy as np
train_data = pd.read_csv("C:/Users/Administrator/Downloads/titanic_kaggle_train.csv")

In [2]:
train_data.isnull().sum()/ train_data.shape[0] *100

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

In [3]:
name = []
for i in train_data['Name']:
    name.append(i.split(' ')[1])
    
train_data['prefix'] = name

## Imputing Age column

In [4]:
train_data_raw = train_data.drop('Cabin', axis = 1).drop('Name', axis = 1)


a_15 = train_data_raw[(train_data_raw['Age'].isnull() == True) & ((train_data_raw['prefix'] == 'Master.')|(train_data_raw['prefix'] == 'Miss.'))].replace(np.nan, 15)
a_45 = train_data_raw[(train_data_raw['Age'].isnull() == True) & ((train_data_raw['prefix'] != 'Master.')&(train_data_raw['prefix'] != 'Miss.'))].replace(np.nan, 45)

In [5]:
train_data_raw.dropna(axis = 0, inplace=True)

In [6]:
train_data1 = pd.concat([train_data_raw, a_15], axis = 0)

In [7]:
train_data2 = pd.concat([train_data1, a_45], axis = 0)

In [8]:
train_data2.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked        object
prefix          object
dtype: object

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier

In [10]:
train_dummy = pd.get_dummies(train_data2.drop('Embarked', axis=1))
train_dummy['Embarked'] = train_data2['Embarked']

In [11]:
train_dummy.columns.tolist()

['PassengerId',
 'Survived',
 'Pclass',
 'Age',
 'SibSp',
 'Parch',
 'Fare',
 'Sex_female',
 'Sex_male',
 'Ticket_110152',
 'Ticket_110413',
 'Ticket_110465',
 'Ticket_110564',
 'Ticket_110813',
 'Ticket_111240',
 'Ticket_111320',
 'Ticket_111361',
 'Ticket_111369',
 'Ticket_111426',
 'Ticket_111427',
 'Ticket_111428',
 'Ticket_112050',
 'Ticket_112052',
 'Ticket_112053',
 'Ticket_112058',
 'Ticket_112059',
 'Ticket_112277',
 'Ticket_112379',
 'Ticket_113028',
 'Ticket_113043',
 'Ticket_113050',
 'Ticket_113051',
 'Ticket_113055',
 'Ticket_113056',
 'Ticket_113059',
 'Ticket_113501',
 'Ticket_113503',
 'Ticket_113505',
 'Ticket_113509',
 'Ticket_113510',
 'Ticket_113514',
 'Ticket_113760',
 'Ticket_113767',
 'Ticket_113773',
 'Ticket_113776',
 'Ticket_113781',
 'Ticket_113783',
 'Ticket_113784',
 'Ticket_113786',
 'Ticket_113787',
 'Ticket_113788',
 'Ticket_113789',
 'Ticket_113792',
 'Ticket_113794',
 'Ticket_113796',
 'Ticket_113798',
 'Ticket_113800',
 'Ticket_113803',
 'Ticket_113804',
 'Ticket_113806',
 'Ticket_113807',
 'Ticket_11668',
 'Ticket_11751',
 'Ticket_11752',
 'Ticket_11753',
 'Ticket_11755',
 'Ticket_11765',
 'Ticket_11767',
 'Ticket_11769',
 'Ticket_11771',
 'Ticket_11774',
 'Ticket_11813',
 'Ticket_11967',
 'Ticket_12233',
 'Ticket_12460',
 'Ticket_12749',
 'Ticket_13049',
 'Ticket_13213',
 'Ticket_13214',
 'Ticket_13502',
 'Ticket_13507',
 'Ticket_13509',
 'Ticket_13567',
 'Ticket_13568',
 'Ticket_14311',
 'Ticket_14312',
 'Ticket_14313',
 'Ticket_14973',
 'Ticket_1601',
 'Ticket_16966',
 'Ticket_16988',
 'Ticket_17421',
 'Ticket_17453',
 'Ticket_17463',
 'Ticket_17464',
 'Ticket_17465',
 'Ticket_17466',
 'Ticket_17474',
 'Ticket_17764',
 'Ticket_19877',
 'Ticket_19928',
 'Ticket_19943',
 'Ticket_19947',
 'Ticket_19950',
 'Ticket_19952',
 'Ticket_19972',
 'Ticket_19988',
 'Ticket_19996',
 'Ticket_2003',
 'Ticket_211536',
 'Ticket_21440',
 'Ticket_218629',
 'Ticket_219533',
 'Ticket_220367',
 'Ticket_220845',
 'Ticket_2223',
 'Ticket_223596',
 'Ticket_226593',
 'Ticket_226875',
 'Ticket_228414',
 'Ticket_229236',
 'Ticket_230080',
 'Ticket_230136',
 'Ticket_230433',
 'Ticket_230434',
 'Ticket_231919',
 'Ticket_231945',
 'Ticket_233639',
 'Ticket_233866',
 'Ticket_234360',
 'Ticket_234604',
 'Ticket_234686',
 'Ticket_234818',
 'Ticket_236171',
 'Ticket_236852',
 'Ticket_236853',
 'Ticket_237442',
 'Ticket_237565',
 'Ticket_237668',
 'Ticket_237671',
 'Ticket_237736',
 'Ticket_237789',
 'Ticket_237798',
 'Ticket_239853',
 'Ticket_239854',
 'Ticket_239855',
 'Ticket_239856',
 'Ticket_239865',
 'Ticket_240929',
 'Ticket_24160',
 'Ticket_243847',
 'Ticket_243880',
 'Ticket_244252',
 'Ticket_244270',
 'Ticket_244278',
 'Ticket_244310',
 'Ticket_244358',
 'Ticket_244361',
 'Ticket_244367',
 'Ticket_244373',
 'Ticket_248698',
 'Ticket_248706',
 'Ticket_248723',
 'Ticket_248727',
 'Ticket_248731',
 'Ticket_248733',
 'Ticket_248738',
 'Ticket_248740',
 'Ticket_248747',
 'Ticket_250643',
 'Ticket_250644',
 'Ticket_250646',
 'Ticket_250647',
 'Ticket_250648',
 'Ticket_250649',
 'Ticket_250651',
 'Ticket_250652',
 'Ticket_250653',
 'Ticket_250655',
 'Ticket_2620',
 'Ticket_2623',
 'Ticket_2624',
 'Ticket_2625',
 'Ticket_2626',
 'Ticket_2627',
 'Ticket_2628',
 'Ticket_2629',
 'Ticket_2631',
 'Ticket_26360',
 'Ticket_2641',
 'Ticket_2647',
 'Ticket_2648',
 'Ticket_2649',
 'Ticket_2650',
 'Ticket_2651',
 'Ticket_2653',
 'Ticket_2659',
 'Ticket_2661',
 'Ticket_2662',
 'Ticket_2663',
 'Ticket_2664',
 'Ticket_2665',
 'Ticket_2666',
 'Ticket_2667',
 'Ticket_2668',
 'Ticket_2669',
 'Ticket_26707',
 'Ticket_2671',
 'Ticket_2672',
 'Ticket_2674',
 'Ticket_2677',
 'Ticket_2678',
 'Ticket_2680',
 'Ticket_2683',
 'Ticket_2685',
 'Ticket_2686',
 'Ticket_2687',
 'Ticket_2689',
 'Ticket_2690',
 'Ticket_2691',
 'Ticket_2693',
 'Ticket_2694',
 'Ticket_2695',
 'Ticket_2697',
 'Ticket_2699',
 'Ticket_2700',
 'Ticket_27042',
 'Ticket_27267',
 'Ticket_27849',
 'Ticket_28134',
 'Ticket_28206',
 'Ticket_28213',
 'Ticket_28220',
 'Ticket_28228',
 'Ticket_28403',
 'Ticket_28424',
 'Ticket_28425',
 'Ticket_28551',
 'Ticket_28664',
 'Ticket_28665',
 'Ticket_29011',
 'Ticket_2908',
 'Ticket_29103',
 'Ticket_29104',
 'Ticket_29105',
 'Ticket_29106',
 'Ticket_29108',
 'Ticket_2926',
 'Ticket_29750',
 'Ticket_29751',
 'Ticket_3101264',
 'Ticket_3101265',
 'Ticket_3101267',
 'Ticket_3101276',
 'Ticket_3101277',
 'Ticket_3101278',
 'Ticket_3101281',
 'Ticket_3101295',
 'Ticket_3101296',
 'Ticket_3101298',
 'Ticket_31027',
 'Ticket_31028',
 'Ticket_312991',
 'Ticket_312992',
 'Ticket_312993',
 'Ticket_31418',
 'Ticket_315037',
 'Ticket_315082',
 'Ticket_315084',
 'Ticket_315086',
 'Ticket_315088',
 'Ticket_315089',
 'Ticket_315090',
 'Ticket_315093',
 'Ticket_315094',
 'Ticket_315096',
 'Ticket_315097',
 'Ticket_315098',
 'Ticket_315151',
 'Ticket_315153',
 'Ticket_323592',
 'Ticket_323951',
 'Ticket_324669',
 'Ticket_330877',
 'Ticket_330909',
 'Ticket_330919',
 'Ticket_330923',
 'Ticket_330931',
 'Ticket_330932',
 'Ticket_330935',
 'Ticket_330958',
 'Ticket_330959',
 'Ticket_330979',
 'Ticket_330980',
 'Ticket_334912',
 'Ticket_335097',
 'Ticket_335677',
 'Ticket_33638',
 'Ticket_336439',
 'Ticket_3411',
 'Ticket_341826',
 'Ticket_34218',
 'Ticket_342826',
 'Ticket_343095',
 'Ticket_343120',
 'Ticket_343275',
 'Ticket_343276',
 'Ticket_345364',
 'Ticket_345572',
 'Ticket_345763',
 'Ticket_345764',
 'Ticket_345765',
 'Ticket_345767',
 'Ticket_345769',
 'Ticket_345770',
 'Ticket_345773',
 'Ticket_345774',
 'Ticket_345777',
 'Ticket_345778',
 'Ticket_345779',
 'Ticket_345780',
 'Ticket_345781',
 'Ticket_345783',
 'Ticket_3460',
 'Ticket_347054',
 'Ticket_347060',
 'Ticket_347061',
 'Ticket_347062',
 'Ticket_347063',
 'Ticket_347064',
 'Ticket_347067',
 'Ticket_347068',
 'Ticket_347069',
 'Ticket_347071',
 'Ticket_347073',
 'Ticket_347074',
 'Ticket_347076',
 'Ticket_347077',
 'Ticket_347078',
 'Ticket_347080',
 'Ticket_347081',
 'Ticket_347082',
 'Ticket_347083',
 'Ticket_347085',
 'Ticket_347087',
 'Ticket_347088',
 'Ticket_347089',
 'Ticket_3474',
 'Ticket_347464',
 'Ticket_347466',
 'Ticket_347468',
 'Ticket_347470',
 'Ticket_347742',
 'Ticket_347743',
 'Ticket_348121',
 'Ticket_348123',
 'Ticket_348124',
 'Ticket_349201',
 'Ticket_349203',
 'Ticket_349204',
 'Ticket_349205',
 'Ticket_349206',
 'Ticket_349207',
 'Ticket_349208',
 'Ticket_349209',
 'Ticket_349210',
 'Ticket_349212',
 'Ticket_349213',
 'Ticket_349214',
 'Ticket_349215',
 'Ticket_349216',
 'Ticket_349217',
 'Ticket_349218',
 'Ticket_349219',
 'Ticket_349221',
 'Ticket_349222',
 'Ticket_349223',
 'Ticket_349224',
 'Ticket_349225',
 'Ticket_349227',
 'Ticket_349228',
 'Ticket_349231',
 'Ticket_349233',
 'Ticket_349234',
 'Ticket_349236',
 'Ticket_349237',
 'Ticket_349239',
 'Ticket_349240',
 'Ticket_349241',
 'Ticket_349242',
 'Ticket_349243',
 'Ticket_349244',
 'Ticket_349245',
 'Ticket_349246',
 'Ticket_349247',
 'Ticket_349248',
 'Ticket_349249',
 'Ticket_349251',
 'Ticket_349252',
 'Ticket_349253',
 'Ticket_349254',
 'Ticket_349256',
 'Ticket_349257',
 'Ticket_349909',
 'Ticket_349910',
 'Ticket_349912',
 'Ticket_350025',
 'Ticket_350026',
 'Ticket_350029',
 'Ticket_350034',
 'Ticket_350035',
 'Ticket_350036',
 'Ticket_350042',
 'Ticket_350043',
 'Ticket_350046',
 'Ticket_350047',
 'Ticket_350048',
 'Ticket_350050',
 'Ticket_350052',
 'Ticket_350060',
 'Ticket_350404',
 'Ticket_350406',
 'Ticket_350407',
 'Ticket_350417',
 'Ticket_35273',
 'Ticket_35281',
 'Ticket_35851',
 'Ticket_35852',
 'Ticket_358585',
 'Ticket_36209',
 'Ticket_362316',
 'Ticket_363291',
 'Ticket_363294',
 'Ticket_363592',
 'Ticket_364498',
 'Ticket_364499',
 'Ticket_364500',
 'Ticket_364506',
 'Ticket_364511',
 'Ticket_364512',
 'Ticket_364516',
 'Ticket_364846',
 'Ticket_364848',
 'Ticket_364849',
 'Ticket_364850',
 'Ticket_364851',
 'Ticket_365222',
 'Ticket_365226',
 'Ticket_36568',
 'Ticket_367226',
 'Ticket_367228',
 'Ticket_367229',
 'Ticket_367230',
 'Ticket_367231',
 'Ticket_367232',
 'Ticket_367655',
 'Ticket_368323',
 'Ticket_36864',
 'Ticket_36865',
 'Ticket_36866',
 'Ticket_368703',
 'Ticket_36928',
 'Ticket_36947',
 'Ticket_36963',
 'Ticket_36967',
 'Ticket_36973',
 'Ticket_370129',
 'Ticket_370365',
 'Ticket_370369',
 'Ticket_370370',
 'Ticket_370371',
 'Ticket_370372',
 'Ticket_370373',
 'Ticket_370375',
 'Ticket_370376',
 'Ticket_370377',
 'Ticket_371060',
 'Ticket_371110',
 'Ticket_371362',
 'Ticket_372622',
 'Ticket_373450',
 'Ticket_374746',
 'Ticket_374887',
 'Ticket_374910',
 'Ticket_376564',
 'Ticket_376566',
 'Ticket_382649',
 'Ticket_382651',
 'Ticket_382652',
 'Ticket_383121',
 'Ticket_384461',
 'Ticket_386525',
 'Ticket_392091',
 'Ticket_392092',
 'Ticket_392096',
 'Ticket_394140',
 'Ticket_4133',
 'Ticket_4134',
 'Ticket_4135',
 'Ticket_4136',
 'Ticket_4137',
 'Ticket_4138',
 'Ticket_4579',
 'Ticket_54636',
 'Ticket_5727',
 'Ticket_65303',
 'Ticket_65304',
 'Ticket_65306',
 'Ticket_6563',
 'Ticket_693',
 'Ticket_695',
 'Ticket_7267',
 'Ticket_7534',
 'Ticket_7540',
 'Ticket_7545',
 'Ticket_7546',
 'Ticket_7552',
 'Ticket_7553',
 'Ticket_7598',
 'Ticket_8471',
 'Ticket_8475',
 'Ticket_9234',
 'Ticket_A./5. 2152',
 'Ticket_A./5. 3235',
 'Ticket_A.5. 11206',
 'Ticket_A.5. 18509',
 'Ticket_A/4 45380',
 'Ticket_A/4 48871',
 'Ticket_A/4. 20589',
 'Ticket_A/4. 34244',
 'Ticket_A/4. 39886',
 'Ticket_A/5 21171',
 'Ticket_A/5 21172',
 'Ticket_A/5 21173',
 'Ticket_A/5 21174',
 'Ticket_A/5 2466',
 'Ticket_A/5 2817',
 'Ticket_A/5 3536',
 'Ticket_A/5 3540',
 'Ticket_A/5 3594',
 'Ticket_A/5 3902',
 'Ticket_A/5. 10482',
 'Ticket_A/5. 13032',
 'Ticket_A/5. 2151',
 'Ticket_A/5. 3336',
 'Ticket_A/5. 3337',
 'Ticket_A/5. 851',
 'Ticket_A/S 2816',
 'Ticket_A4. 54510',
 'Ticket_C 17369',
 'Ticket_C 4001',
 'Ticket_C 7075',
 'Ticket_C 7076',
 'Ticket_C 7077',
 'Ticket_C.A. 17248',
 'Ticket_C.A. 18723',
 'Ticket_C.A. 2315',
 'Ticket_C.A. 24579',
 'Ticket_C.A. 24580',
 'Ticket_C.A. 2673',
 'Ticket_C.A. 29178',
 'Ticket_C.A. 29395',
 'Ticket_C.A. 29566',
 'Ticket_C.A. 31026',
 'Ticket_C.A. 31921',
 'Ticket_C.A. 33111',
 'Ticket_C.A. 33112',
 'Ticket_C.A. 33595',
 'Ticket_C.A. 34260',
 'Ticket_C.A. 34651',
 'Ticket_C.A. 37671',
 'Ticket_C.A. 5547',
 'Ticket_C.A. 6212',
 'Ticket_C.A./SOTON 34068',
 'Ticket_CA 2144',
 'Ticket_CA. 2314',
 'Ticket_CA. 2343',
 'Ticket_F.C. 12750',
 'Ticket_F.C.C. 13528',
 'Ticket_F.C.C. 13529',
 'Ticket_F.C.C. 13531',
 'Ticket_Fa 265302',
 'Ticket_LINE',
 'Ticket_P/PP 3381',
 'Ticket_PC 17318',
 'Ticket_PC 17473',
 'Ticket_PC 17474',
 'Ticket_PC 17475',
 'Ticket_PC 17476',
 'Ticket_PC 17477',
 'Ticket_PC 17482',
 'Ticket_PC 17483',
 'Ticket_PC 17485',
 'Ticket_PC 17558',
 'Ticket_PC 17569',
 'Ticket_PC 17572',
 'Ticket_PC 17582',
 'Ticket_PC 17585',
 'Ticket_PC 17590',
 'Ticket_PC 17592',
 'Ticket_PC 17593',
 'Ticket_PC 17595',
 'Ticket_PC 17596',
 'Ticket_PC 17597',
 'Ticket_PC 17599',
 'Ticket_PC 17600',
 'Ticket_PC 17601',
 'Ticket_PC 17603',
 'Ticket_PC 17604',
 'Ticket_PC 17605',
 'Ticket_PC 17608',
 'Ticket_PC 17609',
 'Ticket_PC 17610',
 'Ticket_PC 17611',
 'Ticket_PC 17612',
 'Ticket_PC 17754',
 'Ticket_PC 17755',
 'Ticket_PC 17756',
 'Ticket_PC 17757',
 'Ticket_PC 17758',
 'Ticket_PC 17759',
 'Ticket_PC 17760',
 'Ticket_PC 17761',
 'Ticket_PP 4348',
 'Ticket_PP 9549',
 'Ticket_S.C./A.4. 23567',
 'Ticket_S.C./PARIS 2079',
 'Ticket_S.O./P.P. 3',
 'Ticket_S.O./P.P. 751',
 'Ticket_S.O.C. 14879',
 'Ticket_S.O.P. 1166',
 'Ticket_S.P. 3464',
 'Ticket_S.W./PP 752',
 'Ticket_SC 1748',
 'Ticket_SC/AH 29037',
 'Ticket_SC/AH 3085',
 'Ticket_SC/AH Basle 541',
 'Ticket_SC/PARIS 2131',
 'Ticket_SC/PARIS 2133',
 'Ticket_SC/PARIS 2146',
 'Ticket_SC/PARIS 2149',
 'Ticket_SC/PARIS 2167',
 'Ticket_SC/Paris 2123',
 'Ticket_SC/Paris 2163',
 'Ticket_SCO/W 1585',
 'Ticket_SO/C 14885',
 'Ticket_SOTON/O.Q. 3101305',
 'Ticket_SOTON/O.Q. 3101306',
 'Ticket_SOTON/O.Q. 3101307',
 'Ticket_SOTON/O.Q. 3101310',
 'Ticket_SOTON/O.Q. 3101311',
 'Ticket_SOTON/O.Q. 3101312',
 'Ticket_SOTON/O.Q. 392078',
 'Ticket_SOTON/O.Q. 392087',
 'Ticket_SOTON/O2 3101272',
 'Ticket_SOTON/O2 3101287',
 'Ticket_SOTON/OQ 3101316',
 'Ticket_SOTON/OQ 3101317',
 'Ticket_SOTON/OQ 392076',
 'Ticket_SOTON/OQ 392082',
 'Ticket_SOTON/OQ 392086',
 'Ticket_SOTON/OQ 392089',
 'Ticket_SOTON/OQ 392090',
 'Ticket_STON/O 2. 3101269',
 'Ticket_STON/O 2. 3101273',
 'Ticket_STON/O 2. 3101274',
 'Ticket_STON/O 2. 3101275',
 'Ticket_STON/O 2. 3101280',
 'Ticket_STON/O 2. 3101285',
 'Ticket_STON/O 2. 3101286',
 'Ticket_STON/O 2. 3101288',
 'Ticket_STON/O 2. 3101289',
 'Ticket_STON/O 2. 3101292',
 'Ticket_STON/O 2. 3101293',
 'Ticket_STON/O 2. 3101294',
 'Ticket_STON/O2. 3101271',
 'Ticket_STON/O2. 3101279',
 'Ticket_STON/O2. 3101282',
 'Ticket_STON/O2. 3101283',
 'Ticket_STON/O2. 3101290',
 'Ticket_SW/PP 751',
 'Ticket_W./C. 14258',
 'Ticket_W./C. 14263',
 'Ticket_W./C. 6607',
 'Ticket_W./C. 6608',
 'Ticket_W./C. 6609',
 'Ticket_W.E.P. 5734',
 'Ticket_W/C 14208',
 'Ticket_WE/P 5735',
 'prefix_Billiard,',
 'prefix_Capt.',
 'prefix_Carlo,',
 'prefix_Col.',
 'prefix_Cruyssen,',
 'prefix_Don.',
 'prefix_Dr.',
 'prefix_Gordon,',
 'prefix_Impe,',
 'prefix_Jonkheer.',
 'prefix_Major.',
 'prefix_Master.',
 'prefix_Melkebeke,',
 'prefix_Messemaeker,',
 'prefix_Miss.',
 'prefix_Mlle.',
 'prefix_Mme.',
 'prefix_Mr.',
 'prefix_Mrs.',
 'prefix_Ms.',
 'prefix_Mulder,',
 'prefix_Pelsmaeker,',
 'prefix_Planke,',
 'prefix_Rev.',
 'prefix_Shawah,',
 'prefix_Steen,',
 'prefix_Velde,',
 'prefix_Walle,',
 'prefix_der',
 'prefix_the',
 'prefix_y',
 'Embarked']

In [12]:
train, validate = train_test_split(train_dummy, test_size = 0.3)

In [13]:
train_x = train.drop('Embarked', axis=1)
validate_x = validate.drop('Embarked', axis=1)
train_y = train['Embarked']
validate_y = validate['Embarked']

In [14]:
m1 = LogisticRegression()
m2 = DecisionTreeClassifier(max_depth=2)
m3 = RandomForestClassifier(n_estimators=2)
m4 = AdaBoostClassifier()

In [15]:
m1.fit(train_x, train_y)
m2.fit(train_x, train_y)
m3.fit(train_x, train_y)
m4.fit(train_x, train_y)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None)

In [16]:
pred_log = m1.predict(validate_x)
pred_dec = m2.predict(validate_x)
pred_ran = m3.predict(validate_x)
pred_ada = m4.predict(validate_x)

In [17]:
df = pd.DataFrame({'actual':validate_y, 'pred_log':pred_log, 'pred_dec':pred_dec, 'pred_ran':pred_ran, 'pred_ada':pred_ada})

In [18]:
df['stat'] = df['actual'] == df['pred_ada']
df['stat'].value_counts()/df.shape[0]*100

True     70.037453
False    29.962547
Name: stat, dtype: float64

In [19]:
df['stat'] = df['actual'] == df['pred_ran']
df['stat'].value_counts()/df.shape[0]*100

True     67.790262
False    32.209738
Name: stat, dtype: float64

In [20]:
df['stat'] = df['actual'] == df['pred_dec']
df['stat'].value_counts()/df.shape[0]*100

True     73.033708
False    26.966292
Name: stat, dtype: float64

In [21]:
df['stat'] = df['actual'] == df['pred_log']
df['stat'].value_counts()/df.shape[0]*100

True     73.782772
False    26.217228
Name: stat, dtype: float64

In [23]:
test = pd.read_csv("C:/Users/Administrator/Downloads/kaggle_titanic_test.csv")
test_dummy = pd.get_dummies(test)

In [24]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [25]:
name = []
for i in test['Name']:
    name.append(i.split(' ')[1])
    
test['prefix'] = name

In [26]:
test_raw = test.drop('Cabin', axis = 1)


a_15 = test_raw[(test_raw['Age'].isnull() == True) & ((test_raw['prefix'] == 'Master.')|(test_raw['prefix'] == 'Miss.'))].replace(np.nan, 15)
a_45 = test_raw[(test_raw['Age'].isnull() == True) & ((test_raw['prefix'] != 'Master.')&(test_raw['prefix'] != 'Miss.'))].replace(np.nan, 45)

In [27]:
test_raw.dropna(axis = 0, inplace=True)
test_data1 = pd.concat([test_raw, a_15], axis = 0)
test_data2 = pd.concat([test_data1, a_45], axis = 0)

In [28]:
test_dummy = pd.get_dummies(test_data2.drop('Name', axis=1).drop('Ticket', axis=1))

In [45]:
for i in test_dummy.columns.tolist():
    if i not in train_dummy.columns.tolist():
        test_dummy = test_dummy.drop(i, axis=1)

In [46]:
for i in train_dummy.columns.tolist():
    if i not in test_dummy.columns.tolist():
        test_dummy = test_dummy[i] = 0

In [52]:
test_dummy.shape

(417, 721)

In [53]:
train_dummy.shape

(889, 721)

In [51]:
train_x = train.drop('Embarked', axis = 1)
train_y = train['Embarked']
test_x = test_dummy

In [57]:
for i in test_x.columns.tolist():
    if i not in train_x.columns.tolist():
        test_x = test_x.drop(i, axis=1)

In [58]:
for i in train_x.columns.tolist():
    if i not in test_x.columns.tolist():
        test_x = test_x[i] = 0

In [68]:
model = LogisticRegression()
model.fit(train_x, train_y)
prediction = model.predict(test_x)